/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  width: 1128px;
  margin: 0;
  padding: 0;

  list-style: none;
}
.gallery-item {
  display: flex;
  justify-content: center;
  flex-basis: calc((100% - 48px) / 3);
}
.gallery-image {
  display: block;
  object-fit: cover;
  width: 360px;
  height: 200px;
}
.modal {
  width: 1440px;
  height: 696px;
  background: rgba(46, 47, 66, 0.8);
}

.feedback-form {
  width: 408px;
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;

  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 16px;
}

.feedback-form label {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

  font-family: 'Montserrat', sans-serif;
}

.feedback-form input,
.feedback-form textarea {
  width: 360px;
  padding: 8px 12px;

  border: 1px solid #808080;
  border-radius: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  outline: none;
  color: #2e2f42;

  font-family: 'Montserrat', sans-serif;
}

.feedback-form textarea {
  resize: none;
}

.feedback-form input:hover,
.feedback-form textarea:hover,
.feedback-form input:focus,
.feedback-form textarea:focus {
  border-color: #4e75ff;
}

.feedback-form button {
  margin-top: 8px;
  padding: 8px 16px;

  border: none;
  border-radius: 8px;

  background-color: #4e75ff;
  color: #fff;

  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.feedback-form button:hover {
  background-color: #6c8cff;
}
